absl-py
aniso8601
arabic-reshaper
asgiref
asn1crypto
asttokens
astunparse
backcall
beautifulsoup4
blinker
bs4
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cryptography
cssselect2
cycler
debugpy
decorator
distlib
Django
django-ckeditor
django-cors-headers
django-crispy-forms
django-jazzmin
django-js-asset
django-phonenumber-field
django-suit
django-xhtml2pdf
executing
fastjsonschema
filelock
Flask
Flask-Cors
Flask-RESTful
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
html5lib
idna
ipykernel
ipython
ipython-genutils
itsdangerous
jax
jedi
Jinja2
joblib
jupyter_client
jupyter_core
keras
kiwisolver
libclang
lxml
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
ml-dtypes
mpmath
mysql-connector-python
nest-asyncio
numpy
oauthlib
opencv-python
opt-einsum
oscrypto
packaging
pandas
parso
phonenumbers
pickleshare
Pillow
platformdirs
prompt-toolkit
protobuf
psutil
psycopg2
pure-eval
pyasn1
pyasn1-modules
pycparser
Pygments
pyHanko
pyhanko-certvalidator
pyparsing
pypdf
pypng
PyQt6
PyQt6-Qt6
PyQt6-sip
pyrsistent
pytesseract
python-bidi
python-dateutil
python-json-logger
python-version
pytz
pytz-deprecation-shim
pywin32
pywinpty
PyYAML
pyzmq
qrcode
reportlab
requests
requests-oauthlib
rfc3986-validator
rsa
scikit-learn
scipy
Send2Trash
six
sniffio
soupsieve
sqlparse
stack-data
svglib
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tinycss2
tornado
traitlets
typing_extensions
tzdata
tzlocal
uri-template
uritools
urllib3
virtualenv
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
whitenoise
wrapt
xhtml2pdf
